.disc-list {
    display: flex;
    flex: 0 1 15%;
    justify-content: center;
    align-content: stretch;
    flex-wrap: wrap;
    animation: flyIn .8s ease-out;

}

.image_div img {
    width: 100%;
    border-radius: 50%;
    margin: auto;    
}
  
.card-disc {
    box-shadow: 0 1vw 2vw 0 rgba(0,0,0,0.6);
    transition: 0.3s;
    border-radius: .5vw; 
    margin: 0vw .5vw 1vw 1vw;
    flex: 0 1 24%;
    max-width: 17%;
    z-index: 1;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-position-x: right;
    background-color: #2d8296;
    opacity: 98%;
}
  
.card-disc-content {
    padding: .5vw;
}

.image_div {
    background-color: #fffafa; 
    box-shadow: 0 .4vw .8vw 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: .5vw; 
    flex: 0 1 24%;
    width: 100%;
    opacity: 88%;
}
  
.card-disc-content h2 {
    margin-bottom: .5vw;
    font-weight: bold;
    color: #1d2351;
    font-size: 1.75vw;
    font-family: 'Acme', sans-serif;
}
  
.card-disc-content p {
    color: #1d2351;
    margin: 0vw;
    font-size: 1.25vw;
    font-family: 'Acme', sans-serif;
}

.card-disc button {
    background-color: #275694;
    border: .1vw solid #3fbdc2;
    color: #fffafa;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2vw;
    padding: .3vw;
    border-radius: .2vw;
    width: 100%;
    margin: .1vw;
    font-family: 'Acme', sans-serif;
}
  
.card-disc button:hover {
    background-color: #1d2351;
}

.add-disc-button {
    display: flex;
    margin: auto;
    margin-top: .35vw;
    margin-bottom: .35vw;
    background-color: #275694;
    border: .2vw solid #3fbdc2;
    border-radius: .5vw;
    color: #fffafa;
    padding: .25vw;
    font-size: 1.25vw;
    font-family: 'Acme', sans-serif;
}
.add-disc-button:hover {
    background-color: #3fbdc2;
    color: #1d2351;
    border-color: #1d2351;
}

.addDiscButton {
    display: flex;
    margin: auto;
    margin-top: 1vw;
    background-color: #1d2351;
    border: .3vw solid #3fbdc2;
    border-radius: 1vw;
    color: #fffafa;
    font-weight: bold;
    padding: 1.5vw;
    font-size: 3vw;
    font-family: 'Acme', sans-serif;
    position: relative;
    top: 10vw;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-position-x: right;
    opacity: 98%;
    box-shadow: 0 0 .25vw #3fbdc2, 0 0 1vw #3fbdc2,  0 0 2vw #3fbdc2;
    animation: flyInFartherAway 1.2s ease-out;
}

.addDiscButton:hover {
    background-color: #3fbdc2;
    color: #1d2351;
    box-shadow: 0 0 .25vw #3fbdc2, 0 0 1vw #3fbdc2,  0 0 2vw #3fbdc2;
}


@keyframes flyIn {
    0% {
        transform: translateY(200%);
    }
    100% {
        transform: translateY(0%)
    }
}

@keyframes flyInFartherAway {
    0% {
        transform: translateY(600%);
    }
    100% {
        transform: translateY(0%)
    }
}