.discFormTitle {
    font-size: 2.5vw;
    color: #fffafa;
    margin: 0vw;
    display: flex;
    justify-content: center;
}

.discForm fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
}

.discForm {
    display: inline-block;
    font-family: 'Acme', sans-serif;
    font-weight: bold;
    margin: 1.5vw 1vw 1.5vw 1vw;
    text-align: left;
    padding: 1vw 2vw 1vw 2vw;
    border: .35vw solid #1d2351;
    border-radius: .75vw;
    z-index: 1;
    min-height: 13vw;
    min-width: 23vw;
    font-size: 1.25vw;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-position-x: right;
    background-color: #2d8296;
    opacity: 94%;
    box-shadow: 0 0 .25vw #3fbdc2, 0 0 1vw #3fbdc2,  0 0 2vw #3fbdc2;
}

.titleAndImages {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titleAndImages img {
    width: 6vw;
    border-radius: 50%;
    margin: 0vw;
}

.form-controls {
    width: 94%;
    height: 2.2vw;
    padding: .375vw .75vw;
    font-size: 1.1vw;
    line-height: 1;
    color: #3fbdc2;
    background-color: #1d2351;
    border: .1vw solid #ced4da;
    border-radius: .25vw;
    -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.save-disc-button {
    display: flex;
    border: .1vw solid #ced4da;
    background-color: #1d2351;
    color: #fffafa;
    font-weight: bold;
    border-radius: .35vw;
    height: 2vw;
    width: 25%;
    margin: auto;
    margin-top: .5vw;
    justify-content: center;
    align-items: center;
    font-size: 1vw;
}

.save-disc-button:hover {
    text-decoration: none;
    background:#1d2351;
    color: #1d2351;
    border: .2vw solid #1d2351;
    background-color: #3fbdc2;
}