
body,
button,
input,
select,
textarea {
  color: #1d2351;
  font-family: 'Acme', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 2px;
}


address {
  margin: 0 0 1.5em;
}
