.home__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
}

.home__container__buttons {
    display: flex;
    margin-top: .5vw;
    position: relative;
    animation: 
        flyIn .8s ease-out;
}

.home__container__buttons button {
    margin: .1vw 1vw 0vw 1vw;
    border: .3vw solid #3fbdc2;
    color: #3fbdc2;
    border-radius: 50%;
    height: 6.5vw;
    width: 6.5vw;
    justify-items: center;
    font-size: 1.25vw;
    font-family: 'Acme', sans-serif;
    padding: .3vw;
    background: #0d0f21;
    border: none;
    box-shadow: 0 0 .25vw #3fbdc2, 0 0 .5vw #3fbdc2, 0 0 1vw #3fbdc2;
}

.home__container__buttons button:hover {
    background: #3fbdc2;
    border: none;
    color: #1d2351;
    font-weight: bold;
    box-shadow: 0 0 .5vw #3fbdc2, 0 0 1vw #3fbdc2;
}


.wrapper {
    display: grid;
    grid-template-columns: 12.5vw 6.5vw;
    font-size: 1.5vw;
    justify-content: center;
    margin: .5vw 0vw 2.5vw 0vw;
    font-family: 'Acme', sans-serif;
    line-height: 1.1;
    
}

.wrapper > div{
    background-color: #275694;  
    border: .1vw solid #1d2351;
    color: #fffafa;
}

.wrapper > div:nth-child(odd){
    background-color: #3fbdc2;
    color: #1d2351;
}

.userScorecard {
    overflow: hidden;
    position: relative;
    margin: 0vw 0vw .2vw 0vw;
    min-width: 29.5vw;
    max-width: 36vw;
    background-color: #0d0f21;
    border: .65vw solid;
    opacity: 99%;
    border-image: 
    linear-gradient(
        #ff512f,    
        #dd2476,
        #1c64ff) 1;
    animation: 
        rotate 3s ease-in infinite,
        flyIn .8s ease-out;
}

@keyframes flyIn {
    0% {
        transform: translateY(200%);
    }
    100% {
        transform: translateY(0%)
    }
}

@keyframes rotate {
    50%{
        border-image:
        linear-gradient(
            360deg,
            #ff512f, 
            #dd2476,
            #1c64ff) 1;
    }
}
.userScorecard > h3 {
    font-size: 2.75vw;
    color: #f5f5f5;
    margin: 1.25vw 2.5vw 1.25vw 2.5vw;
    display: flex;
    justify-content: center;
    font-family: 'Acme', sans-serif;
}

.scorecardItem {
    display: flex;
    justify-content: center;
    padding: .75vw;
}

.scorecardPercValue {
    display: flex;
    justify-content: center;
    padding: .75vw;
    font-weight: bold;
}

.scorecardPercLabel {
    display: flex;
    justify-content: center;
    padding: .75vw;
    font-weight: bold;
}

.filterScorecard {
    font-size: 1.1vw;
    margin: .5vw 0vw .5vw 0vw;
    border: .25vw solid #3fbdc2;
    padding: .35vw;
    border-radius: .5vw;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-position-x: right;
    background-color: #0d0f21;
    opacity: 92%;
    color:#3fbdc2;
    display: flex;
    min-width: 12.5vw;
    max-width: 13.5vw;
    line-height: .1;
    align-items: center;
    font-family: 'Acme', sans-serif;;
    box-shadow: 0 0 .25vw #3fbdc2, 0 0 .45vw #3fbdc2;
}

.filterScorecard label {
    width: 90%;
    display: flex;
    justify-content: center;
}

.filterSelect {
    font-size: 1.1vw;
    display: flex;
    flex-direction: column;
    width: 45%;
    color: #3fbdc2;
    background-color: #0d0f21;
    border-radius: .25vw;

}


.circleScorecard {
    position: absolute;
    left: 7.5vw;
    top: 18vw; 
    font-family: 'Acme', sans-serif;
    padding: 1.8vw;
    border: .25vw solid #3fbdc2;
    border-radius: 1vw;
    z-index: 1;
    height: 9vw;
    width: 15%;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-position-x: right;
    background-color: #0d0f21;
    opacity: 97%;
    animation: flyIn .8s ease-out;
    color:#3fbdc2;
    box-shadow: 0 0 .25vw #3fbdc2, 0 0 .5vw #3fbdc2, 0 0 1vw #3fbdc2;
}

.circleItemLabel {
    margin: auto;
    text-decoration: underline;
    text-underline-offset: .31vw;
    color: hotpink;
    font-size: 1.45vw;
    opacity: 92%;
}
.circleItem {
    margin: auto;
    font-size: 1.35vw;
}

.circleWrapper {
    display: grid;
    grid-template-columns: 6.5vw 6.5vw;
    /* font-size: 18vw; */
    justify-content: center;
    column-gap: .25vw;
    row-gap: .2vw;
}




/*COMPLEMENTARY COLOR
#E6551B 
*/

/*Image colors to use. Light to darker. 
#5f92a5
#2d8296
#526184
#275694  first actual blue one. 
#123d72   medium dark blue
#1d2351  dark blue
#0d0f21 darkest. almost blackish.

#9fdee1
#3fbdc2


*/