body {
  background-image: url(../public/images/blueDiscReversed.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: #0d0f21;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}