.navbar {
    display: flex;
    background-color: #1d2351;
    flex-direction: row;
    align-content: space-evenly;
    align-items: center;
    margin: 0px;
    padding: .44rem 0px .44rem .44rem;
    transition: color .5s;
    opacity: 98%;
}

.navbar__logo {
    display: flex;
    flex-direction: column;
    height: 6.5rem;
    margin: .3rem 0px .3rem 0px;
    justify-items: center;
    align-content: center;
    border-radius: 50%;
    box-shadow: 0 0 5px #3fbdc2, 0 0 25px #3fbdc2, 0 0 40px #3fbdc2;
}
.navbar__logo p {
    margin: 0px;
    display: flex;
    justify-content: center;
    color: white;
}

.navbar ul {
    padding: 0px;
    margin: 0px;
}

.navbar__item {
    display: flex;
    flex-basis: 75%;
    list-style-type: none;
    justify-content: space-around;
}

/* .navbar__slogan {
    width: 21rem;
    text-align: center;
    margin: 10px 0px 0px 0px;
    border: 2px solid #3fbdc2;
    border-radius: 5rem;
    background-color: #1d2351;
    padding: .5em;
    color: #3fbdc2;
    font-size: 1.3rem;
    font-family: 'Acme', sans-serif;
    box-shadow: 0 0 5px #3fbdc2, 0 0 25px #3fbdc2;
} */

.navbar__link {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3fbdc2;
    height: 1.25rem;
    width: 3.125rem;
    font-size: 1.3rem;
    font-family: 'Acme', sans-serif;
    padding: .2em;
    transition: color 1s;
}
.navbar__link:hover {
    text-decoration: none;
    background:#1d2351;
    color: #1d2351;
    /* border: 2px solid #1d2351; */
    background-color: #3fbdc2;
    height: 3.75rem;
    width: 3.75rem;
    border-radius: 100%;
}

.active {
    color: hotpink;
}

/*Image colors to use. Light to darker. 
#5f92a5
#2d8296
#526184
#275694  first actual blue one. 
#123d72   medium dark blue
#1d2351  dark blue
#0d0f21 darkest. almost blackish. 
*/