.navbar {
    display: flex;
    background-color: #1d2351;
    flex-direction: row;
    align-content: space-evenly;
    align-items: center;
    margin: 0px;
    padding: 7px 0px 7px 7px;
    transition: color .5s;
    opacity: 99%;
}

.navbar ul {
    padding: 0px;
    margin: 0px;
}

.navbar__item {
    display: flex;
    flex-basis: 75%;
    /* font-size: 16px; */
    list-style-type: none;
    justify-content: space-around;
}
.navbar__item>.active {
    color: white;
    transform: scale(1.3);
}

.navbar__logo {
    display: flex;
    flex-direction: column;
    height: 120px;
    margin: 0px;
    justify-items: center;
    align-content: center;
}

.navbar__logo p {
    margin: 0px;
    display: flex;
    justify-content: center;
    color: white;
}

.navbar__link {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3fbdc2;
    height: 20px;
    width: 50px;
    font-size: 20px;
    font-family: 'Acme', sans-serif;
    padding: .2em;
}

.navbar__link:link {
    text-decoration: none;
}

.navbar__link:visited {
    text-decoration: none;
}
.navbar__link:hover {
    text-decoration: none;
    background:#1d2351;
    color: #1d2351;
    border: 2px solid #1d2351;
    background-color: #3fbdc2;
    height: 60px;
    width: 60px;
    border-radius: 100%;
    box-shadow: 0 0 5px #3fbdc2, 0 0 25px #3fbdc2, 0 0 50px #3fbdc2, 0 0 200px #3fbdc2;
}


/*Image colors to use. Light to darker. 
#5f92a5
#2d8296
#526184
#275694  first actual blue one. 
#123d72   medium dark blue
#1d2351  dark blue
#0d0f21 darkest. almost blackish. 
*/