
.roundForm {
    display: inline-block;
    font-family: 'Acme', sans-serif;
    font-weight: bold;
    margin: 1em 1em 0em 1em;
    /* margin: 0 auto; */
    text-align: left;
    padding: .5em 1em .5em 1em;
    border: 5px solid #1d2351;
    border-radius: .5em;
    z-index: 1;
    min-height: 16rem;
    width: 24%;
    font-size: 1.375rem;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-position-x: right;
    background-color: #2d8296;
    opacity: 94%;
    box-shadow: 0 0 2px #3fbdc2, 0 0 10px #3fbdc2, 0 0 20px #3fbdc2, 0 0 50px #3fbdc2;
}

.fieldsetDiv {
    font-size: 1.375Rem;
    justify-content: center;
    /* margin: auto; */
    font-family: 'Acme', sans-serif;
    /* justify-content: center; */
    align-items: center;
}

.roundFormTitle {
    font-size: 2.5rem;
    color: #fffafa;
    margin: .2em 0px .2em 0px;
    display: flex;
    justify-content: center;
}

.roundFormDate {
    margin: 0px 0px .15rem 0px;
    display: flex;
    /* justify-content: center; */
    font-weight: normal;
    font-size: 1.05rem;
    font-style: italic;
}

.newRoundControls {
    display: flex;
    width: 98%;
    padding: .375rem;
    font-size: 1.35rem;
    font-style: italic;
    /* line-height: 1; */
    color: #3fbdc2;
    background-color:#0d0f21;
    border:1px solid #fffafa;
    border-radius: .25rem;
    -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.roundFormControls {
    display: flex;
    width: 98%;
    padding: .375rem;
    font-size: 1.35rem;
    font-style: italic;
    /* line-height: 1; */
    color: #3fbdc2;
    background-color:#1d2351;
    border:1px solid #fffafa;
    border-radius: .25rem;
    -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.save-round-button {
    display: flex;
    border: 1px solid #ced4da;
    background-color: #1d2351;
    color: #fffafa;
    font-weight: bold;
    border-radius: .8em;
    height: 2rem;
    width: 40%;
    margin: auto;
    margin-top: .8rem;
    margin-bottom: .8rem;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    padding: 1rem;
}

.save-round-button:hover {
    text-decoration: none;
    color: #1d2351;
    border: 2px solid #1d2351;
    background-color: #3fbdc2;
}





.newRoundForm {
    font-family: 'Acme', sans-serif;
    font-weight: bold;
    margin: auto;
    margin-top: 1rem;
    padding: 2rem 3rem 2rem 3rem;
    border: .4rem solid #3fbdc2;
    border-radius: 1em;
    z-index: 1;
    height: 18.5rem;
    width: 45%;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-position-x: right;
    background-color: #0d0f21;
    opacity: 99%;
    box-shadow: 0 0 2px #3fbdc2, 0 0 10px #3fbdc2, 0 0 20px #3fbdc2, 0 0 20px #3fbdc2;
    animation: flyIn .8s ease-out;
}


.newRoundFormBorderFlash {
    font-family: 'Acme', sans-serif;
    font-weight: bold;
    margin: auto;
    margin-top: 1rem;
    padding: 2rem 3rem 2rem 3rem;
    border: .3rem solid #3fbdc2;
    border-radius: 1em;
    z-index: 1;
    height: 18.5rem;
    width: 45%;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-position-x: right;
    background-color: #0d0f21;
    opacity: 98%;
    overflow: hidden;
    border-image: 
    linear-gradient(
        #1d2351) 1;
    animation: 
        rotate 1s ease-in .0005s;
}
/* 
.newRoundFormBorderFlashTWO {
    font-family: 'Acme', sans-serif;
    font-weight: bold;
    margin: auto;
    margin-top: 1rem;
    padding: 2rem 3rem 2rem 3rem;
    border: .3rem solid #3fbdc2;
    border-radius: 1em;
    z-index: 1;
    height: 18.5rem;
    width: 45%;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-position-x: right;
    background-color: #0d0f21;
    opacity: 98%;
    overflow: hidden;
    border-image: 
    linear-gradient(
        #1d2351) 1;
    animation: 
        rotate 1s ease-in .0005s;
} */



@keyframes rotate {
    50%{
        border-image:
        linear-gradient(
            360deg,
            #ff512f, 
            #dd2476,
            #1c64ff) 1;
    }
}


@keyframes flyIn {
    0% {
        transform: translateY(200%);
    }
    100% {
        transform: translateY(0%)
    }
}


.newRoundGridDiv {
    display: grid;
    grid-template-columns: 28% 24% 24% 24%;
    font-size: 1.375Rem;
    justify-content: space-around;
    font-family: 'Acme', sans-serif;
    /* justify-content: center; */
    align-items: center;
    
}

/* .newRoundGroup {
    margin: 0px .45rem 0px .45rem;
} */

.newRoundGroup label {
    display: flex;
    flex-direction: flex-start;
    font-size: 1.7rem;
    color:#3fbdc2;
}

.newRoundFormTitle {
    font-size: 2.5rem;
    color: #fffafa;
    margin: 1rem 0px 2rem 0px;
    display: flex;
    justify-content: flex-start;
}

.submitRoundButton {
    display: flex;
    border: 3px solid #3fbdc2;
    background-color: #3fbdc2;
    color: #0d0f21;
    font-weight: bold;
    border-radius: .8em;
    height: 3.5rem;
    width: 100%;
    margin: auto;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    padding: .5rem;
}

.submitRoundButton:hover {
    border: 4px solid #3fbdc2;
    color: hotpink;
    background-color: #0d0f21;
    text-decoration: none;
    box-shadow: 0 0 2px #3fbdc2, 0 0 10px #3fbdc2;
    opacity: 86%;

}

.todayScorecard {
    /* font-size: 2rem; */
    color: #fffafa;
    font-family: 'Acme', sans-serif;
    /* font-weight: bold; */
    margin: auto;
    margin-top: .5em;
    margin-bottom: .5em;
    padding: 1.5em;
    border: .4em solid;
    z-index: 1;
    width: 20%;
    height: 6rem;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-position-x: right;
    background-color: #0d0f21;
    opacity: 96%;
    overflow: hidden;
    border-image: 
    linear-gradient(
        #ff512f,    
        #dd2476,
        #1c64ff) 1;
    animation: 
        rotate 3s ease-in infinite;
}

.invisible {
    visibility: hidden;
}
.invisibleTwo {
    visibility: hidden;
    position: absolute;
}

.todayScHeader {
    font-size: 1.8rem;
    color: #dd2476;
    margin: -.2rem 0px .2rem 0px;
}

.todayScDataDiv {
    display: flex;
    justify-content: space-evenly;
}

.todayScGroup {
    margin: 0px .8rem .2rem .8rem;
    /* position: relative; */
    font-family: 'Acme', sans-serif;
    color: #fffafa;
}

.todayScValues {
    color: #dd2476;
    font-size: 1.6rem;
}

.todayScDataDiv label {
    text-decoration: underline;
    font-size: 1.3rem;
    text-underline-offset: 4px;
}


.howToPlayDiv {
    position: absolute;
    left: 3rem;
    top: 22rem;
    background-color:#2d8296;
    color:#fffafa;
    width: 15rem;
    height: 11rem;
    padding: 1rem 0rem 1rem 0rem;
    font-family: 'Acme', sans-serif;
    border: 3px solid #3fbdc2;
    border-radius: .5em;
    z-index: 1;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-position-x: right;
    opacity: 95%;
    box-shadow: 0 0 2px #3fbdc2, 0 0 10px #3fbdc2;
    font-weight: bold;
    animation: flyIn .8s ease-out;

}

.howToPlayDiv ol {
    text-align: start;
    color: #1d2351;
    font-size: 1.3rem;
}

.howToPlayDiv h4 {
    font-size: 1.6rem;
    margin: .5rem;
    display: flex;
    justify-content: center;
    opacity: 96%;
}

.howToPlayItem {
    padding: .1rem;
}