.roundContainer {
    display: grid;
    grid-template-columns: 7rem 7.5rem 7rem 7rem 7rem 7.5rem 4.5rem;
    font-size: 1.375Rem;
    justify-content: center;
    margin: auto;
    font-family: 'Acme', sans-serif;
    /* width: 65%; */
    padding: .3rem;
    /* border-radius: 1rem;; */
}

.roundRow {
    display: flex;
    justify-content: center;
    /* background-color: #3fbdc2; */
    align-items: center;
    border-bottom: .2rem solid #1d2351;
}

.roundList > :nth-child(odd) {
    background-color: #3fbdc2;
}
.roundList > :nth-child(even) {
    background-color: #3fbdc2d9;
}

/*slightly darker green/blue
3fbdc2c1
*/

.roundRow img {
    width: 5rem;
    border-radius: 50%;
    margin: .1rem;
}


.roundListContainer {
    padding: 1.5rem;
    background-color: #1d2351;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: auto;
    position: relative;
    overflow: hidden;
    border: .5em solid;
    border-image: 
    linear-gradient(
        #ff512f,    
        #dd2476,
        #1c64ff) 1;
    animation: 
        rotate 3s ease-in infinite,
        flyIn .8s ease-out;
    top: 2.25rem;
    font-family: 'Acme', sans-serif;
    border-radius: 1rem;
    /* box-shadow: 0 0 2px #3fbdc2, 0 0 10px #3fbdc2, 0 0 20px #3fbdc2, 0 0 50px #3fbdc2;*/
} 

@keyframes rotate {
    50%{
        border-image:
        linear-gradient(
            360deg,
            #ff512f, 
            #dd2476,
            #1c64ff) 1;
    }
}


.roundListHeader {
    display: flex;
    flex-direction: column;
    max-width: 20%;
    /* justify-content: space-between; */
    margin: 1rem 1rem 0px 1rem;
    align-items: flex-start;
    /* position: absolute;
    left: 24.5rem;
    top: 8rem; */
}

.roundListHeader h2 {
    color: white;
    /* border: 3px solid #3fbdc2;
    background-color: #1d2351; */
    padding: .5rem .5rem .5rem 0px;
    /* border-radius: .2rem; */
    font-family: 'Acme', sans-serif;
    font-size: 3rem;
    margin: 0px 0px 0px 0px;
    
}

.roundListLabels {
   color: white;
   display: grid;
   grid-template-columns: 7rem 7.5rem 7rem 7rem 7rem 7.5rem 4.5rem;
   font-size: 1.55rem;
}

.roundListLabel {
    display: flex;
    justify-content: center;
    padding: .2rem;
}

.roundEditButton {
    display: flex;
    flex-direction: column;
    border-bottom: .2rem solid #1d2351;
    align-items: center;
}

.roundEditButton button {
    border: 1px solid white;
    background-color:#275694;
    color:white;
    /* font-weight: bold; */
    border-radius: 10%;
    height: 2rem;
    width: 3.5rem;
    justify-items: center;
    font-size: .9Rem;
    font-family: 'Acme', sans-serif;
    padding: .1rem;
    margin: .18rem 0px .18rem 0px;
    opacity: 90%;
}


.roundEditButton button:hover {
    background-color:#1d2351;
    border-color: #1d2351;
}

.newRoundButton {
    display: flex;
    margin: 1rem 0px 0px 0px;
    background-color: #275694;
    border: 3px solid #3fbdc2;
    border-radius: 8px;
    color: white;
    /* font-weight: bold; */
    padding: .2em;
    font-size: 1.2rem;
    font-family: 'Acme', sans-serif;

}

.newRoundButton:hover {
    color: #1d2351;
    background-color:#3fbdc2;
}


