
.roundForm {
    display: inline-block;
    font-family: 'Acme', sans-serif;
    font-weight: bold;
    margin: 1.5vw 1.5vw 0vw 1.5vw;
    text-align: left;
    padding: .75vw 1.5vw .75vw 1.5vw;
    border: .32vw solid #1d2351;
    border-radius: .5vw;
    z-index: 1;
    min-height: 16vw;
    width: 24%;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-position-x: right;
    background-color: #2d8296;
    opacity: 94%;
    box-shadow: 0 0 .25vw #3fbdc2, 0 0 .5vw #3fbdc2, 0 0 1.5vw #3fbdc2;
}

.fieldsetDiv {
    font-size: 1.35vw;
    justify-content: center;
    font-family: 'Acme', sans-serif;
    align-items: center;
}

.roundFormTitle {
    font-size: 2.6vw;
    color: #fffafa;
    margin: .35vw 0vw .35vw 0vw;
    display: flex;
    justify-content: center;
}

.roundFormDate {
    margin: 0vw 0vw .15vw 0vw;
    display: flex;
    font-weight: normal;
    font-size: 1.1vw;
    font-style: italic;
}

.roundFormControls {
    display: flex;
    width: 98%;
    padding: .375vw;
    font-size: 1.35vw;
    font-style: italic;
    line-height: 1;
    color: #3fbdc2;
    background-color:#1d2351;
    border: .05vw solid #fffafa;
    border-radius: .25vw;
    -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.save-round-button {
    display: flex;
    border: .11vw solid #ced4da;
    background-color: #1d2351;
    color: #fffafa;
    font-weight: bold;
    border-radius: 1vw;
    height: 2vw;
    width: 40%;
    margin: auto;
    margin-top: .8vw;
    margin-bottom: .8vw;
    justify-content: center;
    align-items: center;
    font-size: 1.2vw;
    padding: 1vw;
}

.save-round-button:hover {
    text-decoration: none;
    color: #1d2351;
    border: .13vw solid #1d2351;
    background-color: #3fbdc2;
}



.newRoundForm {
    font-family: 'Acme', sans-serif;
    font-weight: bold;
    margin: auto;
    margin-top: 1vw;
    padding: 2vw 3vw 2vw 3vw;
    border: .4vw solid #3fbdc2;
    border-radius: 1vw;
    z-index: 1;
    height: 19vw;
    width: 45%;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-position-x: right;
    background-color: #0d0f21;
    opacity: 99%;
    box-shadow: 0 0 .25vw #3fbdc2, 0 0 1vw #3fbdc2, 0 0 2vw #3fbdc2;
    animation: flyIn .8s ease-out;
}


.newRoundFormBorderFlash {
    font-family: 'Acme', sans-serif;
    font-weight: bold;
    margin: auto;
    margin-top: 1vw;
    padding: 2vw 3vw 2vw 3vw;
    border: .4vw solid #3fbdc2;
    border-radius: 1vw;
    z-index: 1;
    height: 19vw;
    width: 45%;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-position-x: right;
    background-color: #0d0f21;
    opacity: 98%;
    overflow: hidden;
    border-image: 
    linear-gradient(
        #1d2351) 1;
    animation: 
        rotate 1s ease-in .0005s;
}

.newRoundControls {
    display: flex;
    width: 98%;
    padding: .375vw;
    font-size: 1.35vw;
    font-style: italic;
    line-height: 1;
    color: #3fbdc2;
    background-color:#0d0f21;
    border: .1vw solid #fffafa;
    border-radius: .25vw;
    -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


@keyframes rotate {
    50%{
        border-image:
        linear-gradient(
            360deg,
            #ff512f, 
            #dd2476,
            #1c64ff) 1;
    }
}

@keyframes flyIn {
    0% {
        transform: translateY(200%);
    }
    100% {
        transform: translateY(0%)
    }
}

.newRoundGridDiv {
    display: grid;
    grid-template-columns: 28% 24% 24% 24%;
    justify-content: space-around;
    font-family: 'Acme', sans-serif;
    align-items: center;    
}

.newRoundGroup label {
    display: flex;
    flex-direction: flex-start;
    font-size: 1.7vw;
    color:#3fbdc2;
}

.newRoundFormTitle {
    font-size: 2.55vw;
    color: #fffafa;
    margin: 1vw 0vw 2vw 0vw;
    display: flex;
    justify-content: flex-start;
}

.submitRoundButton {
    display: flex;
    border: .3vw solid #3fbdc2;
    background-color: #3fbdc2;
    color: #0d0f21;
    font-weight: bold;
    border-radius: 1.5vw;
    height: 3.5vw;
    width: 100%;
    margin: auto;
    margin-top: 2.5vw;
    justify-content: center;
    align-items: center;
    font-size: 1.7vw;
    padding: .5vw;
}

.submitRoundButton:hover {
    border: .25vw solid #3fbdc2;
    color: hotpink;
    background-color: #0d0f21;
    text-decoration: none;
    box-shadow: 0 0 .25vw #3fbdc2, 0 0 .5vw #3fbdc2, 0 0 1vw #3fbdc2;
    opacity: 86%;
}

.todayScorecard {
    color: #fffafa;
    font-family: 'Acme', sans-serif;
    margin: auto;
    margin-top: .5vw;
    padding: 1.25vw;
    border: .4vw solid;
    z-index: 1;
    width: 20%;
    height: 6.5vw;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-position-x: right;
    background-color: #0d0f21;
    opacity: 96%;
    overflow: hidden;
    border-image: 
    linear-gradient(
        #ff512f,    
        #dd2476,
        #1c64ff) 1;
    animation: 
        rotate 3s ease-in infinite;
}

.invisible {
    visibility: hidden;
}
.invisibleTwo {
    visibility: hidden;
    position: absolute;
}

.todayScHeader {
    font-size: 1.8rem;
    color: #dd2476;
    margin: -.5vw 0vw .2vw 0vw;
}

.todayScDataDiv {
    display: flex;
    justify-content: space-evenly;
}

.todayScGroup {
    margin: 0vw .8vw .2vw .8vw;
    font-family: 'Acme', sans-serif;
    color: #fffafa;
}

.todayScValues {
    color: #dd2476;
    font-size: 1.6vw;
}

.todayScDataDiv label {
    text-decoration: underline;
    font-size: 1.3vw;
    text-underline-offset: .2vw;
}


.howToPlayDiv {
    position: absolute;
    left: 4vw;
    top: 22vw;
    background-color:#2d8296;
    color:#fffafa;
    width: 16vw;
    height: 11.5vw;
    padding: 1vw 0vw 1vw 0vw;
    font-family: 'Acme', sans-serif;
    border: .25vw solid #3fbdc2;
    border-radius: .6vw;
    z-index: 1;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-position-x: right;
    opacity: 95%;
    box-shadow: 0 0 .25vw #3fbdc2, 0 0 .75vw #3fbdc2;
    font-weight: bold;
    animation: flyIn .8s ease-out;
}

.howToPlayDiv ol {
    text-align: start;
    color: #1d2351;
    font-size: 1.3vw;
}

.howToPlayDiv h4 {
    font-size: 1.65vw;
    margin: .5vw;
    display: flex;
    justify-content: center;
    opacity: 94%;
}

.howToPlayItem {
    padding: .1vw;
}