.roundContainer {
    display: grid;
    grid-template-columns: 7rem 7rem 7rem 7rem 7rem 7rem 9rem;
    font-size: 1.5Rem;
    justify-content: center;
    margin: auto;
    font-family: 'Acme', sans-serif;
    /* width: 65%; */
    padding: .1rem;
    /* border-radius: 1rem;; */
}

.roundRow {
    display: flex;
    justify-content: center;
    color:#3fbdc2;
    /* background-color: #3fbdc2; */
    align-items: center;
    border-bottom: .05rem solid #fffafa;
}

.roundRow img {
    width: 3.5rem;
    border-radius: 50%;
    margin: .2rem;
}


.roundListContainer {
    width: 60%;
    font-family: 'Acme', sans-serif;
    padding: 1.5rem 2rem 1.5rem 2rem;
    background-color: #0d0f21;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 1rem;
    /* margin: 1rem; */
    position: relative;
    overflow: hidden;
    border: .4rem solid #3fbdc2;
    animation: 
        flyIn .8s ease-out;
    border-radius: 1rem;
    z-index: 1;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-position-x: right;
    opacity: 98%;
    box-shadow: 0 0 2px #3fbdc2, 0 0 10px #3fbdc2, 0 0 20px #3fbdc2;
} 

@keyframes rotate {
    50%{
        border-image:
        linear-gradient(
            360deg,
            #ff512f, 
            #dd2476,
            #1c64ff) 1;
    }
}


.roundListHeader {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
}

.roundListHeader h2 {
    color: #fffafa;
    padding: .5rem .5rem .5rem 0px;
    /* border-radius: .2rem; */
    font-family: 'Acme', sans-serif;
    font-size: 2.3rem;
    margin: 0px 1.5rem 0px 0px;
    width: 100%;
}

.roundListLabels {
   color: hotpink;
   display: grid;
   grid-template-columns: 7rem 7rem 7rem 7rem 7rem 7rem 9rem;
   font-size: 1.5rem;
   text-decoration: underline;
   text-decoration-thickness: .1rem;
   text-underline-offset: .3rem;
   margin-bottom: .25rem;
   
}

.roundListLabel {
    display: flex;
    justify-content: center;
    padding: 0px 0px .2rem 0px;
}

.roundEditButton {
    border-bottom: .05rem solid #fffafa;
    align-items: center;
    display: flex;
    justify-content: space-around;
    padding: .5rem;
}

.roundEditButton button {
    border: 1px solid #fffafa;
    background-color: #0d0f21;
    color:hotpink;
    font-weight: bold;
    border-radius: 10%;
    height: 2rem;
    width: 3.5rem;
    justify-items: space-between;
    font-size: 1Rem;
    font-family: 'Acme', sans-serif;
    margin: .18rem 0px .18rem 0px;
    opacity: 98%;
}


.roundEditButton button:hover {
    border: 2px solid #fffafa;
    color: #3fbdc2;
    background-color: #0d0f21;
    text-decoration: none;
    box-shadow: 0 0 2px #3fbdc2, 0 0 10px #3fbdc2, 0 0 20px #3fbdc2, 0 0 50px #3fbdc2;
}

.newRoundButton {
    display: flex;
    /* margin: 1rem 0px 1em 0px; */
    border-radius: 1em;
    border: 3px solid #3fbdc2;
    background-color: #3fbdc2;
    color: #0d0f21;
    font-weight: bold;
    padding: .3em;
    font-size: 1.3rem;
    font-family: 'Acme', sans-serif;

}

.newRoundButton:hover {
    border: 2px solid #fffafa;
    color: #3fbdc2;
    background-color: #0d0f21;
    text-decoration: none;
    box-shadow: 0 0 2px #3fbdc2, 0 0 10px #3fbdc2, 0 0 20px #3fbdc2, 0 0 50px #3fbdc2;
}


