.form--login h1 {
    font-size: 2.5rem;
    color: #fffafa;
    margin: 1rem 1rem -.5rem 1rem;
    display: flex;
    justify-content: center;
}
.form--login h2 {
    color: #1d2351;
    margin: .313rem 0px .313rem 0px;
}


.form--login p {
    color: #fffafa;
    font-style: italic;
    text-align: center;
    opacity: 92%;
    margin: 0px 0px 1em 0px;
    font-size: 1.2rem;
}

.form--login fieldset {
    min-width: 0;
    padding: .5rem 0;
    margin: 0;
    border: 0;
}



.form--login {
    font-family: 'Acme', sans-serif;
    margin: 3em 1em 1.1em 1em;
    display: inline-block;
    /* margin: 0 auto; */
    text-align: left;
    padding: .5em 1em .5em 1em;
    border: 5px solid #1d2351;
    border-radius: .5em;
    z-index: 1;
    min-height: 15rem;
    min-width: 25rem;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-position-x: right;
    background-color: #2d8296;
    opacity: 94%;
    box-shadow: 0 0 2px #3fbdc2, 0 0 10px #3fbdc2, 0 0 20px #3fbdc2, 0 0 50px #3fbdc2;
}

.login-label {
    font-size: 1.2rem;
}

.form-control {
    display: block;
    width: 94%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #3fbdc2;
    background-color: #1d2351;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.container--login {
    text-align: center;
}

.button--close {
    position: relative;
    bottom: -2rem;
}

.dialog {
    min-width: 15rem;
    min-height: 5rem;
}

.signInButton {
    display: flex;
    border: 1px solid #ced4da;
    background-color: #1d2351;
    color: #fffafa;
    border-radius: .25em;
    height: 2.2rem;
    width: 25%;
    margin: auto;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
}

.signInButton:hover {
    text-decoration: none;
    background:#1d2351;
    color: #1d2351;
    border: 2px solid #1d2351;
    background-color: #3fbdc2;
    font-weight: bold;
    box-shadow: 0 0 5px #3fbdc2, 0 0 25px #3fbdc2;
}

.link--register {
    /* font-weight: bold; */
    font-size: 1.1rem;
    color: #0d0f21;
    font-family: 'Acme', sans-serif;
}

.link--register a {
    text-decoration: none;
    color: #1d2351;
    font-style: italic;
    font-size: 1rem;
    border: 2px solid #1d2351;
    border-radius: .25em;
    background-color: #3fbdc2;
    padding: .2em;
    /* font-weight: normal; */
    /* font-weight: bold; */
}

.link--register a:hover {
    color: #3fbdc2;
    border: 2px solid #1d2351;
    background-color: #1d2351;
    box-shadow: 0 0 5px #3fbdc2, 0 0 25px #3fbdc2;
}

.form--register {
    font-family: 'Acme', sans-serif;
    margin: 3em 1em 1.1em 1em;
    display: inline-block;
    /* margin: 0 auto; */
    text-align: left;
    padding: .5em 1em .5em 1em;
    border: 5px solid #1d2351;
    border-radius: .5em;
    z-index: 1;
    min-height: 15rem;
    min-width: 25rem;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-position-x: right;
    background-color: #2d8296;
    opacity: 94%;
    box-shadow: 0 0 2px #3fbdc2, 0 0 10px #3fbdc2, 0 0 20px #3fbdc2, 0 0 50px #3fbdc2;
}

.registerButton {
    display: flex;
    border: 1px solid #ced4da;
    background-color: #1d2351;
    color: #fffafa;
    border-radius: .25em;
    height: 2.1rem;
    width: 25%;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.registerButton:hover {
    text-decoration: none;
    background:#1d2351;
    color: #1d2351;
    border: 2px solid #1d2351;
    background-color: #3fbdc2;
    box-shadow: 0 0 5px #3fbdc2, 0 0 25px #3fbdc2, 0 0 50px #3fbdc2, 0 0 200px #3fbdc2;
} 
