.h1, h1 {
    font-size: 2.5rem;
    color: white;
    margin: .5em 0px .5em 0px;
}
h2 {
    color: #1d2351;
    margin: 5px 0px 5px 0px;
}

fieldset {
    min-width: 0;
    padding: .5rem 0;
    margin: 0;
    border: 0;
}

.form--login {
    font-family: 'Acme', sans-serif;
    display: inline-block;
    margin: 2em 1em 1.5em 1em;
    /* margin: 0 auto; */
    text-align: left;
    padding: .5em 1em .5em 1em;
    border: 5px solid #1d2351;
    border-radius: .5em;
    z-index: 1;
    min-height: 15rem;
    min-width: 25rem;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-position-x: right;
    background-color: #2d8296;
    opacity: 92%;
    box-shadow: 0 0 2px #3fbdc2, 0 0 10px #3fbdc2, 0 0 20px #3fbdc2, 0 0 50px #3fbdc2;

    
}

.form--login > fieldset > input[type="email"],
.form--login > fieldset > input[type="password"] {
    width: 25em;
}

.login-label {
    font-size: 18px;
}

.form-control {
    display: block;
    width: 94%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5;
    color: #3fbdc2;
    background-color: #1d2351;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form-control.placeholder {
    color: red;
}

.container--login {
    text-align: center;
}

.button--close {
    position: relative;
    bottom: -2rem;
}

.dialog {
    min-width: 15rem;
    min-height: 5rem;
}

.signInButton {
    display: flex;
    border: 1px solid #ced4da;
    background-color: #1d2351;
    color: white;
    border-radius: .25em;
    height: 35px;
    width: 25%;
    margin: auto;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.signInButton:hover {
    text-decoration: none;
    background:#1d2351;
    color: #1d2351;
    border: 2px solid #1d2351;
    background-color: #3fbdc2;
    box-shadow: 0 0 5px #3fbdc2, 0 0 25px #3fbdc2, 0 0 50px #3fbdc2, 0 0 200px #3fbdc2;
}

.link--register a {
    /* text-decoration: none; */
    color: #ced4da;
    font-style: italic;
    border: 2px solid #1d2351;
    border-radius: .25em;
    background-color: #2d8296; 
    padding: .2em;
    font-weight: bold;
}

.link--register a:hover {
    background:#1d2351;
    color: #1d2351;
    border: 2px solid #1d2351;
    background-color: #3fbdc2;
    box-shadow: 0 0 5px #3fbdc2, 0 0 25px #3fbdc2, 0 0 50px #3fbdc2, 0 0 200px #3fbdc2;
}